


// main colors
:root {
  --background: #2d2d2d;
  --main1: #ca2c5e;
  --main2: #aeaeae;
  --main3: #1ca2ac;

  --main1-dark1: #ad1d4b;
  --main1-dark2: #8f1139;
  --main1-dark3: #7c0d31;

  --main2-dark1: #969696;

  --main3-dark1: #138f98;
}