
// main colors
$warm: #fdd7b6;
$green: #006769;
$red: #702228;
$gold: #c69a3c;

// warm to green
$warm-green-1: #c4bd91;
$warm-green-2: #88a27b;
$warm-green-3: #4c8670;

// warm to red
$warm-red-1: #daa88b;
$warm-red-2: #b87b64;
$warm-red-3: #944e43;

// darks
$dark-green: #015152;
$dark-red: #60181e;