@use './vars';

.loading-screen{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .loading-circle-container {
        position: relative;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 1.8rem;
        position: absolute;
    }

    .loading-dot{
        z-index: 1;
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: var(--main1-dark2);
    }

    .arc {
        position: absolute;
        border-radius: 50%;
        background: conic-gradient(
            from -40deg,
            transparent 0deg 80deg, /* transparent half */
            var(--main1) 80deg 360deg /* visible half */
        );
        -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
        mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
    }

    .loading-text {
        font-size: 2rem;
        color: var(--main1);
    }
}