@use './vars';
@use './App';
@use './Timeline.scss';
@use './TodayPointer.scss';
@use './HoverModal.scss';
@use './EditStepModal.scss';
@use './Profile.scss';
@use './LoginSignup.scss';
@use './Menu.scss';
@use './Mentor.scss';
@use './HoverOptionModal.scss';
@use './WelcomePage.scss';
@use './LoadingCircle.scss';




body{
    margin: 0;
    background-color: vars.$warm;
    font-family: "Saira Condensed", sans-serif;
    h1, h2, h3, h4, h5, h6, p{margin: 0;}
    button, a{cursor: pointer;};
}

