@use './vars';

.mentor{
    position: absolute;
    user-select: none;

    .mentor-chat{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        transition: background-color 0.3s ease;

        &.unfinished {
            background-color: var(--main1-dark1);
            &:hover {
                background-color: var(--main1-dark2);
            }
        }

        &.finished {
            cursor: default;
            background-color: var(--main3);
        }

        .text-area{
            position: relative;
            top: -5px;
            height: 100%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            font-size: 1rem;

            span{
                font-weight: 600;
            }

            img{
                width: 70px;
                height: 70px;
            }
        }


    }

    .mentor-selectors{
        .option-icon{
            pointer-events: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--main1-dark2);
            color:  white;
            font-size: 1rem;
            transition: opacity 0.3s ease, transform 0.2s ease;

            h3{
                font-weight: 500;
            }
        }
    }
}