@use './vars';

.mentor{
    position: absolute;

    .mentor-chat{
        position: absolute;
        border-radius: 50%;
        background-color: vars.$dark-green;
    }

    .mentor-selectors{
        .select-icon{
            pointer-events: none;
            background-color: 'white';
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}