@use './vars';

.mentor{
    position: absolute;

    .mentor-chat{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        background-color: vars.$dark-green;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: vars.$dark-green-2;
        }
    }

    .mentor-selectors{
        .select-icon{
            pointer-events: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: vars.$dark-green-2;
            color:  white;
            transition: opacity 0.3s ease, transform 0.2s ease;
        }
    }
}