@use './vars';

.menu{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;

    .menu-window{
        background-color: aliceblue;
        padding: 10px;
        display: flex;
        flex-direction: column;

        a{
            text-decoration: none;
            color: vars.$green;
        }
    }
}