@use './vars';

.welcome-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .context-wrapper{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .context{
        height: 300vh;
        width: 100%;
        max-width: 100vw;
        transition: transform 0.6s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        .page-0{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5vh;
            padding: 0 25% 0 25%;

            h3{
                text-align: center;
                font-weight: 500;
            }
        }

        .page-1{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 25% 0 25%;

            .page-1-content{
                height: 50%;
            }

            h3{
                position: relative;
                top: -5%;
                height: 20%;
                text-align: center;
                font-weight: 500;
            }

            .inputs{
                height: 80%;
                width: 40vw;
                display: flex;

                .text-inputs{
                    height: 100%;
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    input{
                        height: 20px;
                        padding: 10px;
                        outline: none;
                        border: solid var(--main1) 2px;
                        border-radius: 10px;
                        font-family: "Saira Condensed", sans-serif;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: var(--main1);
                    }

                    textarea{
                        flex-shrink: 0;
                        height: 200px;
                        resize:none;
                        padding: 5px;
                        border: solid var(--main1) 2px;
                        border-radius: 10px;
                        font-family: "Saira Condensed", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: var(--main1);

                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-track {
                            background: none
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #006769;
                            border-radius: 6px;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #004d4d;
                        }
                    }
                }

                .image-input{
                    height: 100%;
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .image-area{
                        cursor: pointer;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--main1);

                        &:hover{
                            background-color: var(--main1-dark1);
                        }
                    }

                    img{
                        width: 95%;
                        height: 95%;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    i{
                        color: white;
                    }
                }

            }


        }


        .page-2{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 25% 0 25%;

            .page-2-content{
                font-size: 2rem;
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                font-weight: 500;

                input{
                    height: 25px;
                    width: 80px;
                    padding: 10px;
                    outline: none;
                    border: solid var(--main1) 2px;
                    border-radius: 10px;
                    font-family: "Saira Condensed", sans-serif;
                    font-size: 2rem;
                    font-weight: 500;
                    color: var(--main1);
                    text-align: center;
                    
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
            }

            .button-area{
                position: relative;
                bottom: -20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .back-arrow, .forward-arrow{
        position: absolute;
        cursor: pointer;
        font-size: 3rem;
        z-index: 1;

        &:hover{
            color: var(--main1-dark1);
        }
    }

    .back-arrow{
        top: 2vh;
    }

    .forward-arrow{
        bottom: 2vh;
    }

    .create-button{
        cursor: pointer;
        background-color: var(--main1);
        font-size: 1.6rem;
        color: white;
        font-family: "Saira Condensed", sans-serif;
        font-weight: 400;
        border-radius: 10px;
        padding: 0 30px 0 30px;

        &:hover{
            background-color: var(--main1-dark1);
        }

        &:disabled{
            cursor: default;
            opacity: 50%;

            &:hover{
                background-color: var(--main1);
            }
        }
    }
    .mark{
        color: var(--main3-bright1);
    }
}